/*
*  Application: PicoBrew PicoPaks
*  Filename: style.css
*  $Revision: 1 $
*  $LastChangedBy: Chris Chain $
*  $LastChangedDate: 01/16/18 $
*  Description: Main styles
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    height: 100%
}

body {
    background-color: #1a1a1a;
    color: #9b9b9b;
    height: 100%;
    padding: 10px;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Roboto, sans-serif, Arial;
    font-size: 14px;
    font-weight: 300
}

h1 {
    margin: 0 0 8px 0;
    font-size: 24px;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', 'Segoe UI', Roboto, sans-serif, Arial;
    font-weight: 300
}

a {
    color: #00B7FF
}
